body{
    margin: 0;
}

h1, h2, h3{
    font-family: "Crimson Pro", serif;
    font-weight: 600;
}

h1{
    font-size: 96px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 36px;
}

p{
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-size: 24px;
}

.header{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
}

#masters-logo{
    max-width: 15%;
    float: left;
}

nav#main-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

nav#main-nav ul li a {
    display: inline-block;
    color: #1C4932;
    padding: .2em 2em;
    margin: 0 10px;
    text-decoration: none;
}

nav#main-nav ul li a.selected{
    text-decoration: underline;
    text-decoration-color: #1C4932;
}

section{
    margin:0;
}

.top-section{
    background-image: url("../images/home_top_img.jpeg");
    width: 100%;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-section *{
    margin-left: 40px;
}

.top-section h1, h3{
    color: white;
    margin-top: 0;
}

.top-section h1{
    padding-top: 80px;
}

.top-section h3{
    width: 40%;
    font-weight: 400;
}

.button a{
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    letter-spacing: .15rem;
    text-transform: uppercase;
}

.button-white-back a{   
    background-color: white;
    color:#117D57;
}

.home{
    height: 650px;
}

.section1{
    display: flex;
}

.section1-text{
    max-width: 55%;
    margin-left: 40px;
    margin-right: 20px;
}

.button-green-back a{
    background-color: #1C4932;
    color:white;
}

.section1 img{
    height: auto;
    max-width: 40%;
    object-fit: contain;
    float: top;
    margin-right: 40px;
}

.section2{
    background-color: #117D57;
    display: flex;
}

.section2 img{
    max-width: 55%;
    margin-left: 40px;
    margin-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section2-text{
    max-width: 40%;
    margin-right: 40px;
    color: white;
}

.button-white-outline a{
    color: white;
    border: 2px solid white;
}

a#on-history-pg{
    text-decoration: underline;
}

.history-top-section{
    background-image: url("../images/history_top_img.jpeg");
    width: 100%;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.history-top-section h1, .history-top-section h3{
    color: white;
    margin-top: 0;
    text-align:right;
    margin-right: 40px;
}

.history-top-section h1{
    padding-top: 80px;
}

.history-section1{
    display: flex;
    margin-top: 40px;
}

.history-section1-text{
    max-width: 40%;
    text-align: right;
    margin-left: 40px;
    margin-right: 40px;
}

.history-section1-text h2{
    color: #FCE300;
}

.history-section1-text h3{
    color: #1C4932;
}

.history-section1-text span{
    display: flex;
    align-items: center;
}

.history-section1-text span h3{
    text-align: center;
}

.history-section1-text hr{
    width: 40%;
}

.history-section1 img{
    max-width: 55%;
}